/*-------------START - HEAD--------------*/
.main-header{
//  align-items: baseline;
//  .setColorStyle(@backcolor: yellow;);
  position: relative;
  min-height: 56px;
}
.header{
  &-logo{
    .zero-centered();
    z-index: 50;
    width: 140px;
    .setImgContent(
      @named:"header-logo-desktop.png",
      @namet:"header-logo-tablet.svg",
      @namem:"header-logo-mobile.svg");
    @media (min-width: @tablet-width) and (max-width: @dekstop-width) {width: 102px;}
    @media (max-width: @tablet-width){width: 102px;}
  }
  &-navigation{
    ul{
      .setFlex(@content: space-around);
      .setColorStyle(@backcolor: green;);
      margin: 0;
      padding: 10px;
      @media (max-width: @tablet-width){display: none;padding: 0;}
      li{
          list-style-type: none;
          padding: 5px;
          .setColorStyle(@backcolor: red;);
          .setTextSize(@height: @dekstop-line-height-h; @weight: bold;);// 14 26 bold
          &:hover{color: @blue-color;}
          &:active{color: @grey-color;}
          @media (max-width: @tablet-width){
            .setTextSize(@size: @mobile-font-size-h; @height: @mobile-line-height-li; @weight: bold;);// 18 40 bold}
            .setColorStyle(@color: white; @backcolor: @blue-color;);
            box-shadow:
            0 -1px 0px 0px rgba(154, 194, 219, 1),
            0 -2px 0px 0px rgba(103, 143, 168, 1),
            0 1px 0px 0px rgba(103, 143, 168, 1)
            ;
            &:hover{background: @blue-color-dark;}
            &:active{background: @blue-color-medium;color: rgba(148, 185, 210, 1);}
          }
          a{
            color:inherit;
            text-decoration: none;
            outline: none;
          }
        }
    }
    //оформление мобильного меню
    #mobile-menu {
      display: none;
    }
    @media (max-width: @tablet-width){
      .burger {
        position: absolute;
        top: 10px;
        width: 23px;
        height: 20px;
        margin-left: 100px;
        line-height: 2px;
        cursor: pointer;
         span,&::before,&::after{
           content: "";
           position: absolute;
           left: 0;
           top: 0;
           width: 23px;
           height: 4px;
           background-color: @blue-color;
         }
         &::before {
           top: 8px;
         }
         &::after {
           top: auto;
           bottom: 0;
         }
      }
      #mobile-menu:checked ~ .burger::before,
      #mobile-menu:checked ~ .burger::after{
        width: 23px;
        transform: rotate(-45deg);
        top: auto;
        left: -4px;
        bottom: 5px;
        background-color: white;
      }
      #mobile-menu:checked ~ .burger::after {
        transform: rotate(45deg);
      }
      #mobile-menu:checked ~ .burger span {
        display: none;
      }
      #mobile-menu:checked ~ ul{
        .setFlex(@direction: column);
      }
    }
  }
}

/*-------------END - HEAD--------------*/
