/*-------------START - HEAD--------------*/
.main-header{
  .setFlex(@direction: column;);
  min-height: 56px;
}
.header{
  &-logo{
    .zero-centered();
    position: absolute;
    bottom: auto;
    width: 137px;
    z-index: 50;
    .setImgContent(
      @named:"header-logo-desktop.png",
      @namet:"header-logo-tablet.svg",
      @namem:"header-logo-mobile.svg");
    @media (min-width: @tablet-width) and (max-width: @desktop-width) {width: 102px;}
    @media (max-width: @tablet-width){width: 102px; order: 1; position: static;}
  }
  &-navigation{
    position: relative;
    ul{
      .setFlex(@content: space-around;);
      padding: 0;
      width: @desktop-width;
      margin: 0 auto;
      @media (max-width: @tablet-width){display: none;padding: 0;width:@mobile-width;}
      @media (min-width: @tablet-width) and (max-width: @desktop-width){width: @tablet-width;}
      li{
          list-style-type: none;
          padding: 5px;
          &:nth-of-type(4n-2){
            margin-right: 230px;
          }
          &:nth-of-type(4n-1),&:nth-of-type(4n){
            text-align: right;
          }
          .setTextSize(@height: @desktop-line-height-h; @weight: bold;);// 14 26 bold
          &:hover{color: @blue-color;}
          &:active{color: @grey-color;}
          @media (min-width: @tablet-width) and (max-width: @desktop-width){
            &:nth-of-type(4n-2){
              margin-left: 30px;
              margin-right: 180px;
            }
          }
          @media (max-width: @tablet-width){
            .setPaddingLR(5x);
            &:nth-of-type(4n-2){
                margin-left: 0px;
                margin-right: 0px;
            }
            &:nth-of-type(4n-1),&:nth-of-type(4n){
              text-align: center;
            }
            .setTextSize(@size: @mobile-font-size-h; @height: @mobile-line-height-li; @weight: bold;);// 18 40 bold}
            .setColorStyle(@color: white; @backcolor: @blue-color;);
            box-shadow:
            0 -1px 0px 0px rgba(154, 194, 219, 1),
            0 -2px 0px 0px rgba(103, 143, 168, 1),
            0 1px 0px 0px rgba(103, 143, 168, 1)
            ;
            &:hover{background: @blue-color-dark;}
            &:active{background: @blue-color-medium;color: rgba(148, 185, 210, 1);}
          }
          a{
            color:inherit;
            text-decoration: none;
            outline: none;
            &.active{
              color: @brown-color;
              &:hover{color: @brown-color-dark;}
              &:active{opacity: 0.7;}
            }
          }
        }
    }
    //оформление мобильного меню
    #mobile-menu {
      display: none;
    }
    @media (max-width: @tablet-width){
      .burger {
        position: absolute;
        top: 30px;
        width: 23px;
        height: 20px;
        margin-left: 100px;
        line-height: 2px;
        cursor: pointer;
         span,&::before,&::after{
           content: "";
           position: absolute;
           left: 0;
           top: 0;
           width: 23px;
           height: 4px;
           background-color: @blue-color;
         }
         &::before {
           top: 8px;
         }
         &::after {
           top: auto;
           bottom: 0;
         }
      }
      #mobile-menu:checked ~ .burger::before,
      #mobile-menu:checked ~ .burger::after{
        width: 23px;
        transform: rotate(-45deg);
        top: auto;
        left: -4px;
        bottom: 5px;
        background-color: white;
      }
      #mobile-menu:checked ~ .burger::after {
        transform: rotate(45deg);
      }
      #mobile-menu:checked ~ .burger span {
        display: none;
      }
      #mobile-menu:checked ~ ul{
        .setFlex(@direction: column);
      }
      #mobile-menu:checked ~ .burger{
        top: 10px;
      }
    }
  }
}

/*-------------END - HEAD--------------*/
