/*-------------START - MAIN--------------*/
.sedona-photo{
  width: 1200px;
  height: 302px;
}
.gallery{
  .setColorStyle(@backcolor: yellow;);
  .setPaddingTB(35px);
  h1,p{
    margin: 0;
    .setPaddingLR(378px);
    .setPaddingTB(17px);
      @media (min-width: @tablet-width) and (max-width: @dekstop-width) {.setPaddingLR(165px);}
      @media (max-width: @tablet-width){.setPaddingLR();}
  }
  h1{
    .setColorStyle(@backcolor: red;);
    .setPaddingTB(20px);
    margin-top: 60px;
    .setTextSize(@size: @dekstop-font-size-h; @height:@dekstop-line-height-h; @weight: bold) // 30 26 bold
  }
  p{
    .setPaddingTB(13px);
    margin-bottom: 60px;
    .setTextSize(); // 14 24 regular
  }
  &-content{
    .setFlex();
    .setColorStyle(@backcolor: aqua;);
    figure{
      margin: 0;
      .setColorStyle(@backcolor: red;);
        &:first-of-type{flex-grow: 1; width: @dekstop-width;}
        figcaption{
          text-align: left;
          .setColorStyle(@color: white; @backcolor: @caption-color;);
          padding: 20px;
          position: relative;
          h3{
            .setTextSize(@weight: bold;); // 14 24 bold
          }
          .like-count{
            .setTextSize(@weight: bold;); // 14 24 bold
            height: 24px;
            .zero-centered();
            left: auto;
            right: 22px;
            span{font-size: 0;}
          }
          small{
            display: block;
            .setTextSize();//14 24 regular
          }
        }
    }
  }
}
.video{
  h2,p{
    .setColorStyle(@backcolor: red;);
    .setPaddingLR(378px);
      @media (min-width: @tablet-width) and (max-width: @dekstop-width) {.setPaddingLR(165px);}
      @media (max-width: @tablet-width){.setPaddingLR();}
  }
  h2{
    .setTextSize(@size: @dekstop-font-size-h; @height:@dekstop-line-height-h; @weight: bold) // 30 26 bold
  }
  p{
    .setTextSize(); // 14 24 regular
  }
}
/*-------------END - MAIN--------------*/
